<h1>{{EmpName}} your salary is - {{Salary}} {{Currency}} per month</h1>

<input type="button" value="Show AddNew" (click)="ShowAddNew()"/>
<div [hidden]="IsAddNew">
<input type="button" value="Increment" (click)="Increment()"/>
<h1>Employee Information</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Sal</th>
    </tr>
    <tr *ngFor="let x of Employees">
        <td>{{x.EmpName}}</td>
        <td>{{x.Salary}}</td>
    </tr>
</table>

<div>

<div [hidden]="!IsAddNew">
    Emp Name: <input type="text"/> <br/>
    Salary: <input type="text"/> <br/>
    <input type="button" value="Save" (click)="SaveEmployee()"/>
    <input type="button" value="Cancel" (click)="HideAddNew()"/>
</div>